* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

body {
    background-color: #fafafa;
    /* width: 100%; */
    height: 100vh;
    display: flex; 
    justify-content: start;
    align-items: center;
    flex-direction: column; /*added to test footer*/
    /* border: 1px solid red; */
}

form {
    width: 268px;
}

.instagram-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    /* width: 60%; */
    width: 700px; /*era 790*/
    height: 100%; /*added to test footer*/
    /* border: 1px solid black; */
}

.instagram-phones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* border: 1px solid black; */
}

.instagram-phones img{
    /* height: 700px; */
    height: 50rem;
    /* border: 1px solid red; */
}

.instagram-interact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    height: 700px;
    /* border: 1px solid black; */
}

.instagram-account {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    background-color: white;
    margin-bottom: 10px;    
    padding: 20px;
}

.instagram-account img {
    margin: 30px;
}

.login-form {
    margin-bottom: 7px;
}

.login-form input {
    width: 100%;
    height: 38px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 11px;
    padding: 10px;
}

.login-btn {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.login-btn input {
    background-color: #b2dffc;
    color: white;
    width: 100%;
    height: 30px;    
    border: none;    
    border-radius: 3px;
}

.separador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    color: #918e8e;
    opacity: 1;
}

.separador .hr {
    width: 36%;
    margin: 15px;
    border-color: #dbdbdb;
    opacity: 0.7;
}

.instagram-facebook {
    display: flex;
    color: #385185;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}

.instagram-facebook::before {
    content: "";
    position: relative;
    right: 6px;
    background-image: url(./img/facebook-small-logo.png);
    height: 16px;
    width: 16px;
}

.instagram-forgot {
    color: #385185;
    margin-top: 20px;
}

.link-blue {
    color: #0095f6;
    font-weight: 600;
}

.instagram-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.download-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 20px;
}

.download-btn {
    width: 10rem;
    height: 3rem;
    background-size: cover;
}

.download-btn:nth-child(1) {
    content: " ";
    background-image: url(./img/apple-button.png);
}

.download-btn:nth-child(2) {
    background-image: url(./img/googleplay-button.png);
}

/* footer {
    height: 10%;
    color: #9b9b9b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a{
    color: #9b9b9b;
} */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 105px;
    width: 100%;
    color: #918e8e;
    margin-bottom: 52px;
}

.footer footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;    
}

.assorted-links-1, .assorted-links-2 {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.assorted-links-1 a, .assorted-links-2 a {    
    font-size: 12px;
    color: #918e8e;
    padding: 3px 9px;
}

.language {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 13px;
}

.language p {
    padding: 0 10px;
}

/* Tablet */

@media (max-width: 875px) {

    .instagram-wrapper {
        width: 90%;
        justify-content: center;
    }

    .instagram-phones {
        display: none;
    }

    .instagram-interact {
        width: 350px;
    }
}

/* Mobile */

@media (max-width:450px) {

    body {
        background-color: transparent;
    }

    .instagram-wrapper {
        width: 90%;
        height: 647px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .instagram-phones {
        display: none;
    }

    .instagram-interact {
        justify-content: start;
        width: 350px;
    }

    .instagram-account {
        border: none;
    }

    .login-form input {
        background-color: transparent;
    }
}